{% extends 'articles/base.html' %}
{% block body %}
{% load bootstrap4 %}
<h1>{{ article.id }}번 글</h1>
<h2>{{ article.title }}</h2>
<p>작성일자 : {{ article.created_at }}</p>
<p>수정일자 : {{ article.updated_at }}</p>
<p>이 글을 작성한 닝겐 : {{article.user}}</p>
<hr>
<p>{{ article.content|linebreaksbr }}</p>
{% load hashtag %}
<p>{{ article|make_link|safe }} </p>
{% if article.image %}
<img src="{{ article.image.url }}" alt="{{article.image.name}} ">
<img src="{{ article.image_thumbnail.url }}" alt="{{article.image_thumbnail.name}} ">
{% endif %}
<p>{{ article.like_users.count }}명이 이 글을 좋아합니다. </p>
<a href="{% url 'articles:like' article.pk %}">
{% if user in article.like_users.all%}
    <i class="fas fa-heart fa-2x" style="color: red;"></i>
{% else %}
    <i class="far fa-heart fa-2x" style="color: red;"></i>
{% endif %}
</a>

<a href="{% url 'articles:index' %}">목록으로</a>

{% if article.user == user %}

<a href="{% url 'articles:delete' article.pk %}">[X]</a>
<form action="{% url 'articles:delete' article.pk %}" method='POST' onclick="return confirm('지울꺼임?')">
    {% csrf_token %}
    <input type="submit" value="삭제">
</form>
<a href="{% url 'articles:update' article.pk %}">수정하기</a>

{% endif %}

<hr>
<form action="{% url 'articles:comment_create' article.pk %}" method='POST'>
    {% csrf_token %}   
    {% bootstrap_form comment_form %}
    {% buttons %}
        <button type="submit" class="btn btn-primary">댓글 작성</button>
    {% endbuttons %}
</form>

{% comment %} <form action="" method="POST" class="form">
    {% csrf_token %}
    {% bootstrap_form comment_form %}
    {% buttons %}
        <button type="submit" class="btn btn-primary">Submit</button>
    {% endbuttons %}
</form> {% endcomment %}

{% comment %} {{ comment_form.as_p }} {% endcomment %}

<h2>댓글 작성</h2>
<h3>댓글 수: {{comments.count}}</h3>
{% for comment in comments %}
    <li>{{comment.content}}</li>
    <li>{{comment.created_at}}</li>
    <li>작성자 : {{comment.user}}</li>
    {% if comment.user == user %}
    <form action="{% url 'articles:comment_delete' article.pk comment.pk %}" method='POST'>
        {% csrf_token %}
        
        <input type="submit" value="댓글 삭제">
    </form>
    {% endif %}
    <hr>
{% empty %}
    <p>댓글이 없다.</p>

{% endfor %}

{% comment %} {% for comment in article.comment_set.all %}
    <li>{{comment.content}}</li>
    <li>{{comment.created_at}}</li>
    <hr>
{% endfor %}

{{ a.0 }} {% endcomment %}
{% endblock %}