{% extends 'articles/base.html' %}
{% block body %}
{% load bootstrap4 %}
<h1>{{ article.id }}번 글</h1>
<h2>{{ article.title }}</h2>
<p>작성일자 : {{ article.created_at }}</p>
<p>수정일자 : {{ article.updated_at }}</p>
<p>이 글을 작성한 닝겐 : {{article.user}}</p>
<hr>
<p>{{ article.content|linebreaksbr }}</p>
{% load hashtag %}
<p>{{ article|make_link|safe }} </p>
{% if article.image %}
<img src="{{ article.image.url }}" alt="{{article.image.name}} ">
<img src="{{ article.image_thumbnail.url }}" alt="{{article.image_thumbnail.name}} ">
{% endif %}
<p><span id="like-count">{{article.like_users.count}}</span> 명이 이 글을 좋아합니다.</p>

{% if user in article.like_users.all%}
<i id="like-button" data-id="{{article.id}}" class="fas fa-heart fa-2x" style="color: red;"></i>
{% else %}
<i id="like-button" data-id="{{article.id}}" class="far fa-heart fa-2x" style="color: red;"></i>
{% endif %}


<a href="{% url 'articles:index' %}">목록으로</a>

{% if article.user == user %}

<a href="{% url 'articles:delete' article.pk %}">[X]</a>
<form action="{% url 'articles:delete' article.pk %}" method='POST' onclick="return confirm('지울꺼임?')">
    {% csrf_token %}
    <input type="submit" value="삭제">
</form>
<a href="{% url 'articles:update' article.pk %}">수정하기</a>

{% endif %}

<hr>
<form action="{% url 'articles:comment_create' article.pk %}" method='POST'>
    {% csrf_token %}
    {% bootstrap_form comment_form %}
    {% buttons %}
    <button type="submit" class="btn btn-primary">댓글 작성</button>
    {% endbuttons %}
</form>

{% comment %} <form action="" method="POST" class="form">
    {% csrf_token %}
    {% bootstrap_form comment_form %}
    {% buttons %}
    <button type="submit" class="btn btn-primary">Submit</button>
    {% endbuttons %}
</form> {% endcomment %}

{% comment %} {{ comment_form.as_p }} {% endcomment %}

<h2>댓글 작성</h2>
<h3>댓글 수: {{comments.count}}</h3>
{% for comment in comments %}
<li>{{comment.content}}</li>
<li>{{comment.created_at}}</li>
<li>작성자 : {{comment.user}}</li>
{% if comment.user == user %}
<form action="{% url 'articles:comment_delete' article.pk comment.pk %}" method='POST'>
    {% csrf_token %}

    <input type="submit" value="댓글 삭제">
</form>
{% endif %}
<hr>
{% empty %}
<p>댓글이 없다.</p>

{% endfor %}

{% comment %} {% for comment in article.comment_set.all %}
<li>{{comment.content}}</li>
<li>{{comment.created_at}}</li>
<hr>
{% endfor %}

{{ a.0 }} {% endcomment %}
{% endblock %}
{% block script %}
<script>
    const likeButton = document.querySelector('#like-button')
    likeButton.addEventListener('click', function (event) {
        console.log(event.target.dataset.id)
        // POST 요청 csrftoken을 AJAX 요청시 설정하는 법
        axios.defaults.xsrfCookieName = 'csrftoken'
        axios.defaults.xsrfHeaderName = 'X-CSRFToken'
        // django is_ajax() 분기가 되는 기준이 아래의 헤더 설정에 따라서 진행
        axios.defaults.headers.common['X-REQUESTED-WITH'] = 'XMLHttpRequest'
        axios.post(`/articles/${event.target.dataset.id}/like/`)
            .then(response => {
                console.log(response)
                console.log(event.target)
                const likeCount = document.querySelector('#like-count')
                if (response.data.is_liked){
                    event.target.classList.remove('far')
                    event.target.classList.add('fas')
                    likeCount.innerText = `${response.data.like_count}`
                }
                else
                {
                    event.target.classList.remove('fas')
                    event.target.classList.add('far')
                    likeCount.innerText = `${response.data.like_count}`
                }
            })
            .catch(error=>{
                console.log(error)
            })
    })
</script>
{% endblock %}